<a href="https://colab.research.google.com/github/stellarcompiler/Public-repo/blob/master/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Example For Sets:**

In [ ]:
set1={"apple","kiwi","Cherry","Durian"}

print(set1)

for i in set1:
  print(i)

{'Cherry', 'kiwi', 'Durian', 'apple'}
Cherry
kiwi
Durian
apple

## ðŸ‘† This shows us that Sets does not support **indexing**

In [ ]:
set2={5,3,8,2,1,5,10,8,9,10}

print(set2)

for i in set2:
  print(i)

{1, 2, 3, 5, 8, 9, 10}
1
2
3
5
8
9
10

### This shows us the set are unordered**(UNIQUE)** or reduces **redundancy**

# **EXAMPLES FOR DICTIONARIESðŸ“– IN PYTHON :**

## **Storing Info of a Book:**

In [ ]:
book={"Title":"ATOMIC HABITS","Author":"James Clear","Year":"2018"}
print(book["Title"])
print(book["Author"])
print(book["Year"])

## **Example for storing Student Info:**

In [ ]:
student_01={"First name":"Arthur","Last name":"Morgan","Roll No":"01","Class":"C1SB"}

print("Name :",student_01["First name"]+" "+student_01["Last name"])

print("Roll Number :",student_01["Roll No"])

print("Class :",student_01["Class"])
print("\n")

for key in student_01:
  print(key,":",student_01[key])

Name : Arthur Morgan
Roll Number : 01
Class : C1SB


First name : Arthur
Last name : Morgan
Roll No : 01
Class : C1SB

# **Adding Values:**

### **dictionary_name[Key]=value** ðŸ‘ˆ This adds this key-value pair to the end of dictionary

In [ ]:
user={'name': 'Alice', 'age': 25}

user['city']='Ernakulam'

print(user)

{'name': 'Alice', 'age': 25, 'city': 'Ernakulam'}

# **.update(other_dictionary) :**
## For **Updating** the values inside Dictionary:

### use : **dictionary_name.update({other dictionary})**

In [ ]:
user = {'name': 'Alice', 'age': 25}

user.update({'age':30,'city': 'New York'})

print(user)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

# **.get() :**
## For Pulling the values from a Dictionary:
### use: **dict_name.get(Key, default_value)**

In [ ]:
user= {'name': 'Alice', 'age': 25}

print(user.get('name'))

print(user.get('city','Not Found'))

Alice
Not Found

# **.pop() :**
### **For Deleting a key-value pair and returning the value**
## **use: user.pop(key,default)**

In [16]:
user= {'name': 'Alice', 'age': 25,'city':'Ernakulam'}

print(user.pop('city'))

print(user)

Ernakulam
{'name': 'Alice', 'age': 25}

# **.popitem() :**
## **Used to delete the element from the end and return the Key-value pair**
## **Use: dict_name.popitem()**

In [18]:
user= {'name': 'Alice', 'age': 25,'city':'Ernakulam'}

print(user.popitem())
print(user)

('city', 'Ernakulam')
{'name': 'Alice', 'age': 25}

# **.del()**
### To simply delete a Key-value pair

### Syntax: del dict_name(key)

In [20]:
user= {'name': 'Alice', 'age': 25,'city':'Ernakulam'}
del user['city']
print(user)

{'name': 'Alice', 'age': 25}

# **.copy() :**
### Returns a copy of a dictionary to another dict. variable

### **syntax: variable=dict_name.copy()**

In [19]:
user= {'name': 'Alice', 'age': 25,'city':'Ernakulam'}

user_copy=user.copy()
print(user_copy)

{'name': 'Alice', 'age': 25, 'city': 'Ernakulam'}

## **.items():**
## It returns a view of the dictionary in **Key Value tuple** pairs

In [23]:
user= {'name': 'Alice', 'age': 25}
print(user.items())

dict_items([('name', 'Alice'), ('age', 25)])

# **'IN' KEYWORD**

## We can check if a key is present inside a dictionary using 'IN' keyword - which returns a boolean ('T' or 'F')

In [21]:
user= {'name': 'Dhishu', 'age': 25}
print('name' in user)
print('city' in user)

True
False

## **Iterating through Dictionary:**
### We can use 'for' loop to iterate through a dictionary by using the key

In [22]:
user= {'name': 'Aurora', 'age': 25,'city':"Ernakulam"}

for key in user:
    print(key,":",user[key])

name : Aurora
age : 25
city : Ernakulam

# **Nested Dictionaries**
### As the name suggest, we can write a dictionary within another dictionary.
###inside a dictionary - we can write another dictionary as a **"value"**
Example code ðŸ‘‡

In [27]:
Students={'stud1':{'name':'Abel','Roll no':1},'stud2':{'name':'Abhiram','Roll no':2} }

print(Students)
print(Students['stud1'])
print(Students['stud1']['name'])

{'stud1': {'name': 'Abel', 'Roll no': 1}, 'stud2': {'name': 'Abhiram', 'Roll no': 2}}
{'name': 'Abel', 'Roll no': 1}
Abel